/*.wrapper {
  background-color: grey;
}*/

.title-font {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 2rem;
}

@media screen and (min-width:768px) {
  h1 {
    font-size: 6rem;
  }
}

/*@media screen and (min-width:1100px) {
  nav {
    background-color: #0062cc;
  }
}*/

@media screen and (min-width:768px) {
  #content .row.align-items-center {
    min-height: 600px;
  }
}

@media screen and (min-width:1100px) {
  #content .row.align-items-center {
    min-height: 950px;
  }
}

.jumbotron {
  background-image: url("../images/download.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0;
  min-height: 300px;
}
.navbar-dark .navbar-nav .nav-link {
  color:black;
  font-size:1.5rem;
}

/*.border {
  border: 5px solid #28a745 !important;
}*/

#second-quote {
  margin-top: 0.5rem;
}
.blockquote{
  background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
  }
  .carousel{
    text-align:center;
    margin-bottom:30px;

  }
  .carousel-caption h3{
    font-family: "vast Shadow",cursive;
    color:white;
  }

  .w-100{
    width:60%!important;
    height:60%!important;
  }
#grace .w-100{
  width:70%!important;
  height:70%!important;
}
#grace .carousel{
  text-align:center;
  margin-top:30px;
}
